html {
  font-size: 16px;
}

/* Flexbox sticky footer */
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 1;
}

.main-content {
  flex: 1 1 auto;
}

/* Stop transitions/animations from firing when window is resizing, see Utils for function */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
