* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: rgba(255, 255, 255, 0.9);
  background-color: #23242b;
}

header,
main,
footer {
  padding: 1.2rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 85vh;
}

p {
  line-height: 1.4;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-bottom: 1.25rem;
  padding: 0;
}

li {
  list-style: none;
}

/* Class Styles */
.landing-text {
  margin-top: 30%;
  font-family: 'Fugaz One', Impact, Haettenschweiler, 'Arial Narrow Bold',
  sans-serif;
}

.social-links {
  display: flex;
  justify-content: center;
}

.tech-skills {
  display: inline-block;
  border-bottom: 3px solid;
}
