@media (max-width: 576px) {
  html {
    --default-content-padding: .8rem;
  }

  body {
    font-size: .8rem;
  }

  nav {
    text-align: center;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0;
  }

  header,
  main {
    padding: var(--default-content-padding);
  }

  footer {
    padding: 0;
  }

  p {
    max-width: 575px;
  }

  .landing-text {
    margin-top: 10%;
  }

  .about-section {
    flex-direction: column;
  }

  .about-section > h2 {
    margin-bottom: 1rem;
    border-bottom: 1px solid;
  }

  .social-links {
    justify-content: center;
  }

  .icons {
    margin: 0;
    text-align: center;
    height: 5rem;
  }

  .flex-col {
    margin-bottom: .33rem;
  }

  .flex-stagger {
    margin-bottom: .75rem;
  }

  .flex-stagger p:first-child {
    font-weight: bold;
  }

  .bottom-nav ul {
    flex-direction: column;
  }

  .bottom-nav ul li {
    margin-bottom: 2rem;
  }
}
