@media (max-width: 576px) {
  html {
    --default-content-padding: .8rem;
  }

  body {
    font-size: .8rem;
  }

  nav {
    text-align: center;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0;
  }

  header,
  main {
    padding: var(--default-content-padding);
  }

  footer {
    padding: 0;
  }

  p {
    max-width: 575px;
  }

  .landing-text {
    margin-top: 10%;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
