.post-preview {
  margin-bottom: 3rem;
  border-radius: 3px;
  background-color: var(--white);
  color: #424349;
}

.post-preview:hover {
  background-color: #ffc2e2;
  transition: background-color .5s;
}

.post-preview p {
  padding: 1.2rem;
  margin: 0;
}

.post-preview h2 {
  margin-bottom: .5rem;
}