.post-preview {
  margin-bottom: 1.75rem;
  border: 2px solid #ff70a2;
  border-radius: 3px;
}

.post-preview:hover {
  background-color: #424450;
  transition: background-color .5s;
}

.post-preview p {
  padding: 1.2rem;
  margin: 0;
}

.post-preview h2 {
  margin-bottom: .5rem;
}